
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{facilitiesCtrl.fields.title}}
                <small>{{facilitiesCtrl.fields.subtitle}}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    {{facilitiesCtrl.fields.title}}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{facilitiesCtrl.fields.facilitiesList.length}}</div>
                            <div>Facilties found</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>Activity</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="facility in facilitiesCtrl.fields.facilitiesList track by $index">
                        <tr class="{{facility.statusClass}}">
                            <td>{{$index}}</td>
                            <td ng-bind-html="facility.name"></td>
                            <td>{{facility.state}}</td>
                            <td>{{facility.desc}}</td>
                            <td>{{facility.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
